:root {
    /** 3 color system : main brand color, secondary grey color and a tertairy color for brand color **/
    --primary-color: #0079c2;
    --secondary-color: #E0E0E0;
    --tertiary-color: #97B1A6;
    --oposite-primary-color: #fcfcfc;
    --primary-color-hover: #0a71b4;
    --transparent: rgba(252, 252, 252, 0.0);
    /** font definition **/
    --font-stack: "Roboto-Regular", sans-serif;
    --font-size: 14px;
    --shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
    /** We have 3 colors for texts : black for high heading, black-grey for text in field
    	and label for which we are using the primary color **/
    --black: #000;
    --black-grey: #333333;
    /** defining field color text **/
    --field-foreground: var(--black-grey);
    /** defining color label **/
    --label-color: var(--primary-color);

    /** alternat color for list line **/
    --even-bg-color: #F0F0F0;
    --odd-bg-color: #E8F0FA;

    --border-radius: 3px;

    --blue: #4a90d9;
    --white: #fafafa;
    --white-grey: #f2f2f2;
    --grey-light: #eee;
    --progression-color: #4cad22;
    --darker-light: rgba(0, 0, 0, 0.12);
    --darker-soft: rgba(0, 0, 0, 0.06);
    --lighter-light: rgba(255, 255, 255, 0.15);
    --lighter-mid: rgba(255, 255, 255, 0.5);
    --lighter-strong: rgba(255, 255, 255, 0.85);

    /** defining color for fields **/
    --border-color: var(--secondary-color);
    --border: 1px solid var(--border-color);
    --no-border: 0px solid var(--transparent);
    --field-foreground: var(--primary-color);
    --field-border: var(--border);
    --field-border-radius: var(--border-radius);
    --field-background: #fff;
    --field-insets: 1px 5px;
    --field-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
    --field-weight: normal;
    /** hover behavior for fields **/
    --field-rollover-foreground: var(--field-foreground);
    --field-rollover-background: var(--field-background);
    --field-rollover-border: 1px solid var(--primary-color);


    /** defining color for primary button : login, submit, save **/
    --button-background: var(--primary-color);
    --button-border: 1px solid var(--button-background);
    --button-foreground: var(--oposite-primary-color);
    --button-shadow: var(--shadow);
    --button-border-radius: var(--border-radius);
    /** hover behavior for button  **/
    --button-rollover-foreground: var(--oposite-primary-color);
    --button-rollover-background: var(--primary-color-hover);
    --button-rollover-border: 1px solid var(--primary-color);

    /** defining color for secondary button : cancel **/
    --secondary-button-background: var(--secondary-color);
    --secondary-button-foreground: var(--primary-color);
    --secondary-button-border: 1px solid var(--secondary-button-foreground);
    --secondary-button-shadow: var(--shadow);


    --selection-foreground: var(--oposite-primary-color);
    --selection-background: var(--primary-color);
    --selection-border: 1px solid var(--selection-background);

    --focused-shadow-1: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    --focused-shadow-2: 0 0 8px rgba(102, 175, 233, 0.6);
    --focused-border: 1px solid var(--primary-color);


    --bg: var(--white);
    --bg-dark: var(--black-grey);
    --bg-light: var(--grey-light);
    --shadow-soft: 0 1px 2px rgba(0, 0, 0, 0.05);
    --cell-insets: 5px;
    --cell-border: 1px solid #ccc;
    --menu-background: #fff;
    --menu-foreground: var(--field-foreground);
    /** Listview : odd and even color are linked to the primary color used for headers. **/
    --header-foreground: var(--oposite-primary-color);
    --header-background: var(--primary-color);
    --listBorder: 2px solid white;
    --listBorderStyle: 2px solid white;
    --even-list-bg-color: var(--even-bg-color);
    --odd-list-bg-color: var(--odd-bg-color);


    --heading-foreground: var(--primary-color);

    --invalid-foreground: #f00;
    --invalid-border: 1px solid var(--invalid-foreground);
    --disabled-foreground: #999;
    --disabled-background: #eee;
    --disabled-border: 1px solid #ccc;

    /*region tab paddings*/
    --tab-padding-vertical: 10px;
    --tab-padding-horizontal: 15px;


    /*region chevrons*/
    --comboboxChevron: url(?sid=Echo.Image&iid=/fr/natsystem/resources/pics/chevrons/down-black.png);
    --comboboxChevron-invalid: url(?sid=Echo.Image&iid=/fr/natsystem/resources/pics/chevrons/down-red.png);
    --comboboxChevron-disabled: url(?sid=Echo.Image&iid=/fr/natsystem/resources/pics/chevrons/down-grey.png);
    --suggestfieldChevron: "!I!/fr/natsystem/resources/pics/chevrons/down-black.png";
    --suggestfieldChevron-disabled: "!I!/fr/natsystem/resources/pics/chevrons/down-grey.png";
    --datepickerChevron: "!I!/fr/natsystem/resources/pics/chevrons/down-blue.png";
    --datepickerChevron-disabled: "!I!/fr/natsystem/resources/pics/chevrons/down-grey.png";

    /*
    --even-list-bg-color:;
    --odd-list-bg-color:;
    */

    --field-height: 20px;

}